.chat
  .chat__head
    .chat__head__group
      .chat__head__group__name
        = @group.name
      .chat__head__group__member
        Menber : 
        - @group.users.each do |user|
          = user.name
    .chat__head__edit
      = link_to edit_group_path(@group.id), class: "edit" do
        Edit

  .chat__main
    = render @messages

  .chat__footer
    = form_with model: [@group, @message], class: "form", local: true do |f|
      .chat__footer__form
        = f.text_field :content, placeholder: "type a message", class: "chat__footer__form__text" 
        = f.label :image, class: "chat__footer__form__text__label" do
          = icon('fas', 'image', class: "form-icon")
          = f.file_field :image, class:"file" 
      = f.submit 'Send', class: "chat__footer__form__send"

